<html>
<head>
<title>Chat</title>
{% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link id="favicon" rel="icon" href="{% static 'favicon.ico' %}">
<script>
    function checkLinks(message){
        var pattern1 = /^(?:(?:https?|ftp):\/\/)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/\S*)?$/;
        var pattern2 = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        if (pattern1.test(message) || pattern2.test(message)) {
          if (!/^(f|ht)tps?:\/\//i.test(message)) {
            return '<a style="color:red;" href="' + "http://" + message +'">'+message+'</a>';
          }
          else{
              return '<a style="color:red;" href="'+message+'">'+message+'</a>';
          }
        }

          return message;

    };
  </script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script src="{% static 'js/main.js' %}"></script>
  {% load static %}
<link rel="stylesheet" href="{% static "chat/chatcss.css" %}" >
<link rel="stylesheet" href="{% static 'css/main-cpy.css' %}">
<style>
	@font-face {
    font-family: Sitefont-book;
    src: url({% static '/fonts/book.otf' %});
}

@font-face {
    font-family: Sitefont-Medium;
    src: url({% static '/fonts/medium.otf'%});
}
.modal {
    z-index: 9999;
    display: none;
    padding-top: 300px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}
.card{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}
.animate-top {
    position: relative;
    animation: animatetop 0.4s
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0px;
        opacity: 1
    }
}
.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
	width: 300px;
	z-index: 9999;
	height: auto;
	max-height: 800px;
	overflow-y:initial;
	overflow-x: hidden;
}
.top-right {
    position: absolute;
    right: 0;
	top: 0;
	float:right;
}
.close{
	color: aqua;
	background-color: #343233;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease; 
	border: none;
	height: 30px;
	width: 30px;
}
.close:hover{
	color: #343233;
	background-color: aqua;
	transition: color 0.5s ease;
	transition: background-color 0.5s ease; 
}
</style>
</head>
<body>
    <div class="navbarcont" id="navbarcont">
        <nav class="navbr" id="navbar">
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
          </label>
          <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static '/svgs/logo.svg' %}" alt="Circlr" id="logo"></a>
          </div>
          <div class="nav-wrapper">
            <ul class="navigation">
              {% if user.is_authenticated %}
              <li><a href="{% url 'home' %}" {% url 'home' as home %}{% if request.path == home or request.path == '/accounts/' %} class="active"{% endif %}>Home</a></li>
              <li><a href="{% url 'matching' %}" {% if '/friends/' in request.path %}class="active"{% endif %}>Find Friends</a></li>
              <li><a href="{% url 'chat:index' %}" {% if '/chat/' in request.path %}class="active"{% endif %}>Messaging</a></li>
              <li><a href="{% url 'polls:index' %}" {% if '/polls/' in request.path %}class="active"{% endif %}>Polls</a></li>
              <li><a href="{% url 'forum-home' %}" {% if '/forums/' in request.path %}class="active"{% endif %}>Forums</a></li>
              <li class="drop">
                <input type="checkbox" id="drop" class="hidden" />
                <label for="drop" class="drop-btn"><span {% url 'accounts:profile' request.user.username as userpage %}{% if request.path == userpage %} class="active"{% endif %}>{{user.username}} </span><i class="arrow down"></i></label>
                <div class="dropdown">
                  <p><a href="{% url 'accounts:profile' request.user.username %}">Profile</a></p>
                  <p><a href="{% url 'accounts:logout' %}">Logout</a></p>
                </div>
              </li>
              {% else %}
              <li><a href="{% url 'forum-home' %}">Forums</a></li>
              <li><a href="{% url 'accounts:login'%}">Login</a></li>
              <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </div>
		<div class="container">
			<br>
		</div>
	</div>
	<div class="container">
	<center><h3 class=" text-heading" id="Chathead">Messaging</h3></center>
	<div class="messaging">
	      <div class="inbox_msg">
	        <div class="inbox_people">
	          <div class="headind_srch">
	            <div class="recent_heading">
	              <h4>Recent</h4>
	            </div>
	            <!--
	            <div class="srch_bar">
	              <div class="stylish-input-group">
	                <input type="text" class="search-bar"  placeholder="Search" >
	                <span class="input-group-addon">
	                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
	                </span> </div>
	            </div>-->
	          </div>

	        <div class="dummydiv" >
	          <div class="inbox_chat">
	            {%for item in recentlist%}
	              <div class="chat_list" style="cursor:pointer;" onclick="roomNameGen('{{request.user.username}}','{{item.0}}')" >
	                <div class="chat_people">
	                  <div class="chat_img"> <img src="{{ item.0.userprofile.picture.url }}"  > </div>
	                  <div class="chat_ib">
	                    <h5>{{item.0.username}}<span class="chat_date">{{item.3}}</span></h5>
	                    <p>{{item.1}} : {{item.2}}</p>
	                  </div>
	                </div>
	              </div>
	            {%endfor%}
	              <div class="headind_srch" >
	                <div class="recent_heading">
	                  <h4>All Users</h4>
	                </div>
	              </div>
	            {%for user in userlist%}
	              {%if user.username != request.user.username %}
	              <script>sender_img ="{{ user.userprofile.picture.url }}" </script>
	                <div class="chat_list" style="cursor:pointer;" onclick="roomNameGen('{{request.user.username}}','{{user.username}}')" >
	                  <div class="chat_people">
	                    <div class="chat_img"> <img src="{{ user.userprofile.picture.url }}"  > </div>
	                    <div class="chat_ib">
	                      <h5>{{user.username}}<span class="chat_date"></span></h5>
	                      <p>Click to chat!</p>
	                    </div>
	                  </div>
	                </div>
	              {%endif%}
	            {%endfor%}
	          </div>
	        </div>

	        </div>
	        <div class="mesgs">
	          <div id="chat-log" class="msg_history">
	            {%for logitem in message_log%}
	              {%if request.user.username == logitem.sender.username %}
	                <div class="outgoing_msg">
	                  <div class="sent_msg">
	                    <p>
	                      <script>document.write(checkLinks("{{logitem.message}}"))</script>
	                    </p>
	                    <span class="time_date">{{logitem.timestamp}}</span> </div>
	                </div>
	              {%else%}
	              <div class="incoming_msg">
	                <div class="incoming_msg_img"> <img src="{{ logitem.sender.userprofile.picture.url }}"  > </div>
	                <div class="received_msg">
	                  <div class="received_withd_msg">
	                    <p>
	                      {{logitem.message}}
	                    </p>
	                    <span class="time_date">{{logitem.timestamp}}</span></div>
	                </div>
	              </div>
	              {%endif%}
	            {%endfor%}


	          </div>
	          <div class="type_msg">
	            <div class="input_msg_write">
	              <input id="chat-message-input" type="text" class="write_msg" placeholder="Type a message" />
	              <button id ="filesharer" class="file_send_btn" onclick="document.getElementById('modal').style.display='block'" type="button" name="filesharer"><i class="fa fa-paperclip fa-lg"  aria-hidden="true"></i></button>
	              <button id="chat-message-submit" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
	            </div>
	          </div>
	        </div>
	      </div>




	    </div></div>
			<div id="modal" class="modal">
					<div class="modal-content animate-top card">
						<header style="background:#343233;height: 30px;"> 
							<button onclick="closemodal()" class="close top-right">&times;</button>
							<h2 style="margin-top: 0px;color: aqua;">Upload Files</h2>
						</header>
						<iframe id="files_frame" name="files_frame" src="{% url 'fileindex' %}"></iframe>
					</div>
				</div>
	    <script>

	      function roomNameGen(userid,friendid){
	        var roomName = [userid,friendid].sort().join("");
	        document.cookie="userid="+userid;

	        window.location.pathname = '/chat/' + roomName + '/';

	      };


	    </script>
	    </body>
	    <script>
	        //Init settings

	        var roomName = {{ room_name_json }};
					var chatter = roomName;
					var username = chatter.replace("{{request.user.username}}","");
					$("#Chathead").html('<a href="/accounts/profile/'+username+'">'+username+'</a>');
	        function getCookie(name) {
	                  var value = "; " + document.cookie;
	                  var parts = value.split("; " + name + "=");
	                  if (parts.length == 2) return parts.pop().split(";").shift();
	                };

	        var userid = getCookie("userid");

	        checkTextareaHeight();
	        //String manipulation Functions
	        /*var updateDivvar = setInterval(function(){
	            updateDiv("notify");
	        },1000);*/
	        function updateDiv(mode)
	        {
	          if (mode=="notify" ){
	              var prev = String($(".dummydiv").html())+" ";
	              $( ".dummydiv" ).load(window.location.href + " .inbox_chat" );
	              setTimeout(function(){
	                var cur = String($(".dummydiv").html())+" ";
	                if(String(prev)!=String(cur)){
	                  notification();
	                }
	              },1000)
	          }
	          else{
	              $( ".dummydiv" ).load(window.location.href + " .inbox_chat" );
	          }
	        };


	        //Date Time Settings
	        var options = {  year: 'numeric', month: 'short', day: 'numeric',hour: 'numeric',minute:'numeric' };
	        var today  = new Date();

	        //Websockets
	        var chatSocket = new WebSocket(
	            'ws://' + window.location.host +
	            '/ws/chat/' + roomName + '/');

	        chatSocket.onmessage = function(e) {
	            var data = JSON.parse(e.data);
	            var message = data['message'];
	            var sender = data['sender'];
	            incoming_template = '<div class="incoming_msg">\n<div class="incoming_msg_img"> <img src='+sender_img+'  > </div>\n<div class="received_msg">\n<div class="received_withd_msg">\n<p>'+checkLinks(message)+'</p>\n<span class="time_date">'+today.toLocaleDateString("en-US", options)+'</span></div>\n</div>\n</div>'

	            outgoing_template = '<div class="outgoing_msg"><div class="sent_msg"><p>'+checkLinks(message)+'</p><span class="time_date">'+today.toLocaleDateString("en-US", options)+'</span> </div></div>'
	            if (sender == "{{request.user.username}}" ){
	                document.querySelector('#chat-log').innerHTML += outgoing_template;
	                updateDiv("nonotify");
	            }
	            else{
	              document.querySelector('#chat-log').innerHTML += incoming_template;
	              updateDiv("nonotify");
	            }

	            checkTextareaHeight();
	        };

	        chatSocket.onclose = function(e) {
	            console.error('Chat socket closed unexpectedly');
	        };

	        document.querySelector('#chat-message-input').focus();
	        document.querySelector('#chat-message-input').onkeyup = function(e) {
	            if (e.keyCode === 13) {  // enter, return
	                document.querySelector('#chat-message-submit').click();
	            }
	        };
	        //SEND FUNCTION IS HERE!!
	        document.querySelector('#chat-message-submit').onclick = function(e) {
	            var messageInputDom = document.querySelector('#chat-message-input');
	            var message =   messageInputDom.value;
	            if (message !=""){
	              chatSocket.send(JSON.stringify({
	                  'sender' : "{{request.user.username}}",
	                  'message': message,
	                  'roomname' : roomName
	              }));
	            }


	            messageInputDom.value = '';
	        };

	        function checkTextareaHeight(){
	           var textarea = document.getElementById("chat-log");
	           if(textarea.selectionStart == textarea.selectionEnd) {
	              textarea.scrollTop = textarea.scrollHeight;
	            }
	        };
			</script>
			<script>
					window.onload(updatetime);
					function closemodal(){
						document.getElementById('files_frame').src="{% url 'fileindex' %}"
						document.getElementById('modal').style.display='none';
					}
				</script>
	    </html>
