{% extends "base.html" %}
{% block title %}
Forum details
{% endblock title %}
{% block head %}
<title>
      Forum Details
</title>
{% endblock head %}
{% block css %}
{{ block.super }}
<style>
	#Submit{
  color: aqua;
  background-color: rgb(52, 50, 51);
  transition: all 0.1s ease;
  cursor: pointer;
  width: 49%;
  border-color: aqua;
  border-radius: 100px;
  background: none;
  font-family: Sitefont-medium;
  font-size: 15px;
  padding: 7px;
  margin-top: 20px;
}
#Submit:hover{
  color: rgb(52, 50, 51);
  background-color: aqua;
  transition: all 0.1s ease;
}
select{
	float:right;
}
textarea{
	width:100%;
	float:right;
	height: 60px;
}
</style>
{% endblock css %}
{% block content %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:34%;max-width:1400px;margin-top:20px;padding:10px;float: right;">
	<form method="POST">
		{% csrf_token %}
		<h1>Forum Details</h1>
		{{ form.as_p }}
		<br>
		<center><button id="Submit" type="submit">Save</button></center>
	</form>
</div>
{% endblock content %}