{% extends "base.html" %}
{% block title %}
Forums
{% endblock title %}
{% block css %}
{{ block.super }}
<style>
  ul li{
  margin-left:0;
}
#Submit{
  color: aqua;
  background-color: rgb(52, 50, 51);
  transition: all 0.1s ease;
  cursor: pointer;
  width: 20%;
  border-color: aqua;
  border-radius: 100px;
  background: none;
  font-family: Sitefont-medium;
  font-size: 15px;
  padding: 7px;
  margin-top: 20px;
}
#Submit:hover{
  color: rgb(52, 50, 51);
  background-color: aqua;
  transition: all 0.1s ease;
}
.row{
	margin-bottom: 80px;
}
.forumcont{
	padding: 20px 30px;
	background: rgba(0, 0, 0, 0.2);
	transition: background 2s ease;
	border-bottom: 0.5px solid black;
}
.forumcont a{
	text-decoration: none;
}
.forumcont a:hover{
	-webkit-filter: drop-shadow( -0.1px -0.1px 5px coral);
	filter: drop-shadow( -0.1px -0.1px 5px coral);
}
.forumcont span{
	color: aqua;
}
.forumcont:nth-of-type(2){
	border-top: 0.5px solid black;
}
.forumcont:hover{
	background: rgba(0, 0, 0, 0.5);
	transition: background 1s ease;
	cursor: pointer;
}
.forumname {
	font-size: 25px;
	margin-bottom: 0px;
}
@media screen and (max-width: 750px) {
	#Submit{
		width: 30%;
	}
}
@media screen and (max-width: 550px) {
	#Submit{
		width: 38%;
		border-radius: 2em;
	}
	h1{
		font-size: 25px;
	}
}
</style>
{% endblock css %}
{% block content %}
<div class="sidepad" style="width:10%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:10%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="width:80%;max-width:1400px;margin-top:20px;padding:10px;float: right;">
	<div class="row">
	<h1 style="float:left">Top Forums:</h1>
		{% if user.is_authenticated %}
			<button id="Submit" onclick="window.location.href='{% url "forum-create" %}'" style="float: right;"> Create a forum </button>
		{% endif %}
	</div>
<br>
{% if latest_forums %}
	{% for forum in latest_forums %}
		{% if forum.viewprivacy == 3 and user == forum.creatorid or forum.viewprivacy == 1 or forum.viewprivacy == 2 and user.is_authenticated %}
		<a href="{% url 'forumpage' forum.slug %}">
			<div class="forumcont" onclick="window.location.href='{% url "forumpage" forum.slug %}'">
				<div class="forumname">
					<span style="float: left;">{{ forum.forumname }}</span>
				</div><br><br>
				<div class="forumdet">
					<span style="float: right">Published on {{ forum.createdate.date }} at <span class="hr">{{ forum.createdate.time.hour }}:</span><span class="min">{{ forum.createdate.time.minute }}</span><span class="am/pm"> </span></span>
					<span id="creator" style="float: left;">Created by :&nbsp;<a href="../accounts/profile/{{forum.creatorid.username}}">{{ forum.creatorid.username }}</a></span>
				</div>
			</div>
		</a>
		{% endif %}
	{% endfor %}
{% else %}
	<p>No forums are available. {% if user.is_authenticated %}Go create some!{%else%}Login to create some!{% endif %}</p>
{% endif %}
</div>
<script>
window.onload(updatetime());
</script>
{% endblock %}