{% extends 'base.html' %}
{% block title %}
Success!
{% endblock title %}
{% block css %}
{{block.super}}
<style>
    #Submit {
        color: aqua;
        background-color: rgb(52, 50, 51);
        transition: all 0.1s ease;
        cursor: pointer;
        width: 50%;
        border-color: aqua;
        border-radius: 100px;
        background: none;
        font-family: Sitefont-medium;
        font-size: 15px;
        padding: 7px;
        margin-top: 30px;
    }

    #Submit:hover {
        color: rgb(52, 50, 51);
        background-color: aqua;
        transition: all 0.1s ease;
    }
    h1{
        font-size: 50px;
    }
</style>
{% endblock css %}
{% block content %}
{% load staticfiles %}
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: left;"></div>
<div class="sidepad" style="width:33%;margin-top:80px;padding:10px;float: right;"></div>
<div class="centercontent" style="margin-top:80px;width:34%;padding:10px;float: right;">
    <center>
        <h1>Your poll was added succesfully!!</h1>
        <input style="opacity: 0; pointer-events: none;" value="127.0.0.1:8000/polls/{{ questionid }}" id="share"><br>
        <button id="Submit" onclick="myFunction()" name="action">Share Poll</button>
        <button id="Submit" onclick='window.location.href="{% url 'polls:index' %}"' name="action">Answer some polls</button>
    </center>
</div>
<script>
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("share");

        /* Select the text field */
        copyText.select();

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Alert the copied text */
        alert("Copied to clipboard: " + copyText.value);
    }
</script>
{% endblock content %}